body {

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Gallery Flex */
.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

/* Images Styling */
img {
    border: 4px solid #1d3557;
    padding: 5px;
    border-radius: 20px;
    max-width: 100%;
}

/* nth-child Example */
.gallery-flex img:nth-child(even) {
    border-radius: 50px;
}

/* About Section */
.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.about-section img {
    width: 350px;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    .hero,
    .about-section {
        flex-direction: column;
        text-align: center;
    }
}